<form class="form_search" method="Post" action="">
  <div class="form-group">
    <label for="search-input">Keys Word</label>
    <input type="text" name="bkav" class="form-control" id="search-input"  placeholder="Nhập Từ Khóa"> 
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>